.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    background: linear-gradient(to right, #6a11cb, #2575fc)
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#list1 {
    border-radius: .75rem;
}

#add-btn {
    background-color: #2575fc;
}

.my-hr {
    border-color: #2575fc;
    border-width: 2px;
}